.right{
    text-align: right;
}

.DauTien{
    height: 100px;
    background-color: lightblue;
}
.mt-20{
margin-top: 10px;
}
.center {
    text-align: center;
  }
.btn_DangTin{
    width: 180px;
    height: 40px;
    margin-top: -5px;
    background-color: #fc9807;
    float: left;
    color: white;
    font-weight: bold;
    font-size: 16px;
}